.form input
    padding: 12px;
    border-radius: 12px;
    border-color: clr(sun, .8);

.form__btn .form
    width: 500px;
    margin: 0 auto;

.form__btn 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


.universal 
    form.wpcf7-form.init p     
    form.wpcf7-form.sent p 
    form.wpcf7-form.invalid p 
    form.wpcf7-form.submitting p 
        display: flex;
        gap: 5px;

.universal .form input
    width: 147px;

.form__btn .btn_win
    width 100%

form .btn_win
    padding: 15px
    border-radius: 15px

.form__btn form.wpcf7-form.init input,
.form__btn form.wpcf7-form.invalid input,
.form__btn form.wpcf7-form.sent input,
.form__btn form.wpcf7-form.submitting input
    border: 2px solid clr(sun)
    box-sizing: border-box;
    border-radius: 8px;
    padding: 14px 20px;
    margin: 12px 0;
    width: 100%;
    font-family: fnt(prim)
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background: #FFFFFF;


+below(t)
    form.form
        grid-template-columns: 1fr
        gap: 5px;
        padding-top: 2em;

    .form__btn .form
        width: 100%;