.prof__btm
    justify-content: flex-start
    align-items: flex-start
    gap 15px
    position relative
    justify-self: center;

.prof__btm li.splide__slide 
    padding: 15px 5px

.prof__win
    display: flex
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 15px
    height: 282px
    width max-content
    max-width 249px

.prof__img
    border-radius: 50%
    width 119px
    height: @width
    overflow: hidden;
    position: absolute;
    top: -1px;

.prof__text
    display: flex
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 156px;
    padding: 25px 10px 19px;
    border-radius: 15px;
    background: clr(prim)

.prof__img > img 
    width 100%
    height: 100%
    object-fit: cover;

.experiens
    color #6482e3;
    text-align: center;


.splide__arrow--prev 
    left: -3em !important

.splide__arrow--next
    right: -3em  !important
