.rec__content 
    padding: 62px 25px;
    background: red;
    border-radius: 15px;
    background: linear-gradient(274deg, #c73709 48%, #ffffff9e);


+below(t) 
    .rec__content 
        padding: 17px 3px;