.universal__content
    gap: 67px;

.universal__text 
    align-items:unset    

.subs_bold
    font-weight: 900;
    font-size: 1.3em;


.universal .img_block 
    border-radius: 80px 0 80px;
    width: var(--univImgBlockWidth);
    max-width: @width;
    height: var(--univImgBlockHeight);
    max-height: @height;
    min-height: @height;
    background: linear-gradient(282deg, #f0f0f0, #f0efee);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


b.sing
    position: relative

p.subs_left
    padding-left 18px

b.sing::before
    content: "⁕";
    position: absolute;
    left: -19px;
    top: -1px;
    color: clr(sun)
    font-weight: 900;
    font-family: fnt(prim_eb)

ul.sub_mebel > li
    list-style-type: disc
    list-style-position: inside

.sub_mebel
    padding-top: 17px;
    align-items: flex-start;

.sub_rec
    background: #fff4cc;
    justify-content: left;
    align-items: flex-start;
    border-radius: 15px;
    padding: 25px;

.sub_rec .fontello-phone 
    color: clr(sun)

.sub_rec p.subs
    font-size: .8em;
    text-align: left;

// +below(d)
//     .universal .img_block
//         width: 482px;
//         height: 336px;