section.videos
    padding: 5px
    // background: linear-gradient( 151deg, #00000e, #737373)

section.section.videos {
    background: white;
}

section.videos .splide__slide
    text-align: center
    // background: black
    border-radius: 40px

section.videos h2.title
    color clr(blck)

video.code_videos 
    width: 100%;
    height: 700px
    object-fit: contain;
    object-position: bottom;



video.videos .splide__slide {
    display: flex;
    justify-content: center;
}

video {
    width: 100%;
    max-width: 600px;
}

/* Стилизация панели управления (работает в WebKit-браузерах) */
video::-webkit-media-controls {
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* Фон панели управления */
    border-radius: 5px;
}

/* Стилизация кнопки воспроизведения */
video::-webkit-media-controls-play-button {
    background-color: #ff0000;
    /* Цвет кнопки play */
    border-radius: 50%;
}

/* Стилизация ползунка громкости */
video::-webkit-media-controls-volume-slider {
    background-color: #00ff00;
    /* Цвет ползунка */
}

/* Стилизация временной шкалы */
video::-webkit-media-controls-timeline {
    /* background-color: #333; */
    /* Цвет шкалы прогресса */
    
}

.custom-controls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

video button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

video button:hover {
    background-color: #0056b3;
}

video input[type="range"] {
    width: 100px;
    accent-color: #007bff;
    /* Цвет ползунка */
}




+below(t)
    .splide__arrows.splide__arrows--ltr
        display: none


  