section.videos
    padding: 5px
    background: linear-gradient( 151deg, #00000e, #737373)

section.videos .splide__slide
    text-align: center
    background: black
    border-radius: 40px

section.videos h2.title
    color white
video.code_videos 
    width: 100%;
    height: 700px
    object-fit: contain;
    object-position: bottom;

+below(t)
    .splide__arrows.splide__arrows--ltr
        display: none