@font-face 
    font-family: "discovery";
    src: url("../fonts/discovery/discovery.otf") format("opentype");
    font-weight: normal;

/* Regular */
@font-face 
  font-family: "manrope_reg";
  src: url("../fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
  font-style: normal;

/* Medium */
@font-face 
  font-family: "manrope_med";
  src: url("../fonts/manrope/static/Manrope-Medium.ttf") format("truetype");
  font-style: normal;

/* SemiBold */
@font-face 
  font-family: "manrope_sb";
  src: url("../fonts/manrope/static/Manrope-SemiBold.ttf") format("truetype");
  font-style: normal;

/* Bold */
@font-face 
  font-family: "manrope_b";
  src: url("../fonts/manrope/static/Manrope-Bold.ttf") format("truetype");
  font-style: normal;

/* ExtraBold */
@font-face 
  font-family: "manrope_eb";
  src: url("../fonts/manrope/static/Manrope-ExtraBold.ttf") format("truetype");
  font-style: normal;

/* Light */
@font-face 
  font-family: "manrope_l";
  src: url("../fonts/manrope/static/Manrope-Light.ttf") format("truetype");
  font-style: normal;

/* ExtraLight */
@font-face 
  font-family: "manrope_el";
  src: url("../fonts/manrope/static/Manrope-ExtraLight.ttf") format("truetype");
  font-style: normal;

h1, h2, h3
    font-family: fnt(prim)
    font-weight: 500;
    letter-spacing: 1px;
    color: clr(blck)

h1
    font-family: fnt(prim_eb);
    font-size: 3em;
    font-weight: 900;
    line-height: 1em;
    text-align: center;
    letter-spacing: -1px;

h2
    font-size: 2.2em
    margin-bottom: 1em
    color: clr(blck);
    line-height: 1.3
    font-family: fnt(prim_eb);

.grid_block_two h2.title 
    text-align: left;
    font-size: 2em;
    line-height: 1em;

h2.title 
    text-align: center

h3
    font-size: 1.8em
    color: clr(blck);
    margin-bottom: 0.8em
    font-family: 

h4
    font-size: 1.3em
    color: clr(blck);
    margin-bottom: 0.5em

p 
    font-family: fnt(blck)
    font-size: 1em
    text-align: left

a
    font-size: 1em
    text-decoration: none
    color: inherit

  
.subs_block
    padding: 34px 164px 5px;

p.subs 
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.2em;
    font-family: fnt(prim_reg);
    text-align: center;
    padding: 15px 5px


+below(l)
    .subs_block
        padding: 5px 18px

    h2
        font-size: 2em

+below(d)

    h1 
        font-size: 

    h3 
        font-size: 1.5em;

    p 
        font-size: .9em
    
    a
        font-size: .9em 

+below(t)
    .subs_block
        padding: 5px 2px

    h1  
        font-size: 2em

    h2
        font-size: 1.5em
    
    h3 
        font-size: 1.2em;

    p.subs
        font-size: 1.1em
        padding: 5px

+below(m)
    h1
        font-size: 1.5em

    h2
        font-size: 1.3em

    p.subs
        font-size: 1em

+below(sm)
    h2 
        font-size: 1.5em
    
+below(esm)
    h1 
        font-size: 1em

    .hero__subs 
        font-size: .8em;
        line-height: 1em;
    h2
        font-size: 1em
    
    p.subs
        font-size: .9em
    
    h4, 
    h4.sub_title
        font-size: 1em

   