// библиотеки 
@import "../node_modules/nib"
@import "../node_modules/rupture/rupture"
// @import "../../node_modules/axis/axis"

// @import "default/play"
@import "default/_normilise"
@import "default/_library"
@import "default/_variable"
@import "default/_mixins"
@import "default/_typography"
@import "default/_mainCode"

@import "header"
@import "main/*"
@import "footer"

 
